# ----------------------------
# Python cache
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------
# Virtual Environment
# ----------------------------
venv/
env/
.venv/
research_assistant/
# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# Database
# ----------------------------
# db.sqlite3

# ----------------------------
# Media / Uploads
# ----------------------------
uploads/
media/

# ----------------------------
# Static files (production)
# ----------------------------
staticfiles/

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# IDE files
# ----------------------------
.vscode/
.idea/

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Testing & Coverage
# ----------------------------
.coverage
htmlcov/
.pytest_cache/

# ----------------------------
# Build files
# ----------------------------
dist/
build/

# ----------------------------
# Gunicorn
# ----------------------------
*.pid