# Core
Django==6.0.2
djangorestframework==3.16.1
django-cors-headers==4.9.0
python-dotenv==1.2.1

# Database
psycopg2-binary==2.9.11

# Production server
gunicorn

# Celery
celery==5.6.2
redis==7.2.1

# AI / RAG
openai==2.24.0
groq==1.0.0
google-genai==1.65.0
faiss-cpu==1.13.2

# Use CPU-only PyTorch to avoid Render GPU issues
torch==2.2.0+cpu --find-links https://download.pytorch.org/whl/cpu/torch_stable.html
sentence-transformers==2.2.2
transformers==5.2.0
scikit-learn==1.8.0

# PDF / OCR
PyMuPDF==1.27.1
pytesseract==0.3.13
pillow==12.1.1